.input {
  font-family: inherit;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;

  &:focus {
    border: 1px solid #1b9ed7;
    outline: 1px solid #1b9ed7;
  }
}
